/* font style here with google */
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
body{
 font-family: "Oranienbaum", serif;

}
/* some common class here */
.mx-width{
    width: 1600px;
}
.btn-style{
    width: 150px;
    height:54px ;
    background-color: rgb(229, 84, 115)
    
    /* color: rgb(255, 255, 255) */
 }
 .collor{
    color: #E55473;
 }






/* heading part style start here */
.heading-part{
    height:750px ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.1);
}
.heading-text {
  margin-right: 60px;
 }
.heading-text h1{
   font-weight: 800;
   font-size: 80px;
   color: rgb(39, 39, 39);
   line-height: 80px;
}
.heading-text p{
    font-weight: 400;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
   
 }


.heading-img img{
    width: 600px;
    height: 700px;
}
.heading-img{
    margin-left: 60px;
}
/* main-section-first-part style start here */
.main-section-first-part{
    height:750px ;
    margin: 0 auto;
    margin-top: 100px;
  
}
.tex-content {
    text-align: center;
}
.tex-content h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(39, 39, 39);
}
.tex-content p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
}
.img-gellary{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.flower{
    width:464px ;
    height: 535px;
}
.flower img{
    width:250px ;
    height: 300px;
}
.first-pic{
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 38px 24px 31px 24px;
}
.second-pic{
    background-color: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  padding: 38px 24px 31px 24px;
}
.third-pic{
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 38px 24px 31px 24px;
}
.photo-caption{
    font-size: 22px;
    font-weight: 550;
    text-decoration: underline;
}
/* main-section-second-part style start here */
.main-section-second-part{
    width: 1400px;
height: 320px;
margin: 0 auto;
background-color: rgba(39, 39, 39, 0.05);
display: flex;
justify-content: space-evenly;
align-items: center;
}
.text-img{
    text-align: center;
}
.text-style{
    font-size: 22px;
    font-weight: 550;
    color: rgba(39, 39, 39, 0.8);
}
/* main-section-third-part style start here */
.main-section-third-part {
    height: 620px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    background-color: #efe3e5;
}
.text-button{
    width: 594px;
    height: 228px;
    text-align: center;
}
.text-button h2{
    font-size: 40px;
    font-weight: 900;
    color: #272727;
    line-height: 25px;
}
.text-button p{
    font-size: 18px;
    font-weight: 400;
    color: #272727;
    line-height: 25px;
}
.single-img img{
    width: 318px;
    height: 420px;
}
/* main-section-forth-part style start here */
.tex-contaner{
text-align: center;
margin-top: 100px;
}
.tex-contaner h2{
    font-size: 40px;
    font-weight: 900;
    color: #272727;
    }
    .tex-contaner p{
        font-size: 18px;
        font-weight: 400;
        color: #272727;
        }
.image-gallery{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}
.gallery img{
    height: 300px;
    width: 262px;
}
/* main-section-last-part style start here */
.last-section{
    width: 1120px;
height: 449px;
margin: 0 auto;
margin-top: 100px;
border-radius: 7px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url();
background-color: #efe3e5;
}
.last-heading{
    text-align: center;
}
.last-heading h2{
    font-size: 40px;
    font-weight: 900;
    color: #272727;
}
.last-heading p{
    font-size: 18px;
    font-weight: 400;
    color: #272727;
}
.input{
    text-align: center;
    margin-top: 48px;
}
.input input{
    width: 600px;
    height: 43px;
   background-color: #ffffff;
   color: #272727;
   border-radius: 8px;
   border: none;
}
/* footer section style start here */
footer{
    height: 370px;
    margin: 0 auto;
    margin-top: 100px;
    background-color:#111010;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-area h2{
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
}
.text-area p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
small{
    font-size: 16px;
    color: #ffffff;
}